{% layout layoutName %} {% block preContent %}
<div class="js-nprogress uk-padding-small">
    <label>
        <input class="uk-checkbox js-auto-refresh" type="checkbox" />
        <span>Auto-referesh </span>
    </label>
    <label>
        every
        <input
            class="js-referesh-interval uk-input uk-form-width-small uk-form-small"
            type="number"
            min="1"
            value="60"
        />
        seconds
    </label>
</div>
{% endblock %} {% block content %}
<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Interval</th>
            <th>Path</th>
            <th>Executions</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in jobs %}
        <tr>
            <td>{{ item.name }}</td>
            <td>
                {% if item.status.id == 'active' %}
                <span uk-spinner="ratio: 0.5"></span>
                {% else %}
                <span uk-icon="{{ item.status.icon }}"></span>
                {% endif %}
                {{ item.status.label }}
            </td>
            <td>{{ item.interval }}</td>
            <td>{{ item.path }}</td>
            <td>{% render 'executionsList' with item as item %}</td>
            <td>{% render 'actionForms' with item as item %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
